*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:20px;
}
body{
    background-color:black;
    color:blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.table{
        background-attachment: fixed;
        align-items: center;
        margin-right: auto;
        margin-left:auto;
        background-color: darkslateblue; 
        width:60%;
        height: 100vh;
}
.btn{
       padding-left: auto;
       padding-right: auto;
       background-color: dimgrey;
       padding:7px;
       color:blanchedalmond;
       border-radius: 25px;
       
}
table td{
    padding-right:5px;
    padding-left:5px;
}