 *{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
h2{
    margin-top: 10px;
    margin-bottom: 10px;
    height:40px;
}
body{
    font-family: 'Courier New', Courier, monospace;
   

}
.table{
    align-content: center;
    background-color:navajowhite;
    width: 100%;

    
} 
.td{
    padding-top:30px;
    padding-bottom: 30px;
}
